@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0%;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #F6F4F3;
}

/* NAVIGATION BAR */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logoA {
    font-size: 23px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #86654B;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* CARD */

.MDtitulo {
   text-align: center;
   padding-top: 90px;
   inline-size: min(100% - 4rem, 50rem);
   margin-inline: auto;
   display: grid;
   gap: 10px;
   color: #31241E;
}

.MDtitulo > hr {
    color: #31241E;
    border-width: 2px;
}

/* BUTTOM */

button {
    background-color: #D1C8C1;
    font-size: medium;
}

/* SCROLLER */

.img-resize {
   height: 250px;
   width: 300px;
   object-fit: cover;
   object-position: center center;
}

.scroller {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 25%;

    padding-bottom: 15px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-elem{
    display: grid;
    grid-template-columns: min-content;
    border-radius: 25px;
    padding: 20px;
    height: 450px;
    width: 340px;   
    background: #FFFFFF;
}

.media-elem img {
    border-radius: 25px;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 15px;
}

.snaps-inline > * {
    scroll-snap-align: start;
}